@font-face {
font-family: MontserratBlack;       
src: url("Montserrat/Montserrat-Black.ttf");
}
@font-face {
font-family: MontserratBold;
src: url("Montserrat/Montserrat-Bold.ttf");
}
@font-face {
font-family: MontserratExtraBold;
src: url("Montserrat/Montserrat-ExtraBold.ttf");
}
@font-face {
font-family: MontserratExtraLight;
src: url("Montserrat/Montserrat-ExtraLight.ttf");
}
@font-face {
font-family: MontserratLight;
src: url("Montserrat/Montserrat-Light.ttf");
}
@font-face {
font-family: MontserratMedium;
src: url("Montserrat/Montserrat-Medium.ttf");
}
@font-face {
font-family: MontserratRegular;
src: url("Montserrat/Montserrat-Regular.ttf");
}
@font-face {
font-family: MontserratSemiBold;
src: url("Montserrat/Montserrat-SemiBold.ttf");
}
@font-face{
font-family: MontserratThin;
src: url("Montserrat/Montserrat-Thin.ttf")
}
